<%= form_for @order, url: 'orders#create', html: { multipart: true } do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :basket_items_file %>
    <%= form.file_field :basket_items_file, accept: 'text' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
